# ------------------------------
# GENERAL SYSTEM FILES
# ------------------------------
*.log
*.class
*.pyc
*.swp
.DS_Store
Thumbs.db

# ------------------------------
# IDE / EDITOR DIRECTORIES
# ------------------------------
# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# Atom
.atom/

# ------------------------------
# FLUTTER / DART
# ------------------------------
.dart_tool/
.packages
.pub/
.pub-cache/
/build/
**/doc/api/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# Flutter generated directories
**/flutter_assets/
**/gen/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# ------------------------------
# ANDROID
# ------------------------------
android/local.properties

# Android build artifacts
android/.gradle/
android/.idea/
android/app/build/
android/build/
**/intermediates/
**/generated/
**/outputs/
**/tmp/

# Ignore native libs (heavy files)
*.so

# Ignore APK, AAB, JAR, DEX files
*.apk
*.aab
*.jar
*.dex

# ------------------------------
# iOS / Xcode
# ------------------------------
ios/Flutter/.last_build_id
ios/.symlinks/
ios/Pods/
ios/build/
macos/Flutter/ephemeral/

# Xcode specific
**/DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcsettings

# CocoaPods
ios/Podfile.lock
ios/Podfile
ios/Pods/

# ------------------------------
# MISC
# ------------------------------
/coverage/
buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
